<%- include("./partials/header3")%>


<% for(let i=0; i < response.data.results.length; i++){ %>
<div class="searchResult"><img src="<%=response.data.results[i].image.small_url%>" alt="" class="float-left searchImage">
<p class="display-4 text-white font-weight-bold">Game Title: <%=response.data.results[i].name%></p>
<p class="display-4 text-white">Release Year: <%=response.data.results[i].expected_release_year%></p></div>


<% } %>

<%- include("./partials/footer")%>