<%- include("./partials/header3")%>

<div class="mt-5 ml-3">
<img src="<%=response.data.results.image.small_url%>" alt="" class="float-left">
<p class="display-3 text-white font-weight-bold"><%=response.data.results.name%></p>
<p class="display-4 text-white font-weight-bold"><%=response.data.results.deck%></p>
</div>

<div id="gameDetails">
<h2>Game Info</h2>

</div>




<%- include("./partials/footer")%>